body {
    text-align: center;
    margin: 0 auto;
}

header {
    text-align:left;
    background-color:black;
    color:white;
}

var{
    color:dodgerblue;
}

code {
    color:dodgerblue;
}

code.class {
    color:dodgerblue;
}

code.keyword {
    color:dodgerblue;
}

var.jsclass{

}

#nametitle{

}