@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
    text-align: center;
    margin: 0 auto;
    font-family:"Helvetica";
}

header {
    background-color:black;
    color:white;
    font-family:"Oxygen";
}

.creative-title{
    margin: 0 auto;
    max-width: 600px;
}

var{
    color:dodgerblue;
}

code {
    color:skyblue;
}

code.keyword {
    color:rgb(117, 3, 117);
}

var.jsclass{
    color:purple;
}

#nametitle{
    font-size: 32px;
}

nav{
    float:left;
}