@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');

body {
    text-align: center;
    margin: 0 auto;
    font-family:"Helvetica";
}

header {
    background-color:black;
    color:white;
    font-family:"Oxygen";
    margin: 0 auto;
}

#creative-title{
    text-align: left;
    max-width: 600px;
}

var{
    color:dodgerblue;
}

code {
    color:skyblue;
}

code.keyword {
    color:purple;
}

var.jsclass{
    color:mediumspringgreen;
    /*color:palegreen;*/
}

code.string{
    color:gold;
}

#nametitle{
    font-size: 40px;
}

nav{
    margin-right: 0px;
    background-color:lightsteelblue;
}

nav li{
    float:left;
    color:indigo;
    list-style-type: none;
}

footer{
    background-image: url("./dark_stripes_@2X.png");
}